.full-width{
    width: 100%;
}
.my-card{
    background-color:white;
}
.my-button{
    margin:20px;
}

.enquiry-logo{
    padding: 10px;;
    margin: 5px;
    
}
.hints{
    align-items: baseline;
    text-align: left;
    margin-left: 10px;
}