<div class="m5">
    <div class="d-flex">
    <input
        class="form-control me-2 mr20 m5" 
        type="search"
        [(ngModel)]="view"
        placeholder="Search" 
        aria-label="Search"
    >
    <button class="btn btn-outline-success my-2 my-sm-0 m5"(click)="getBlogsBySearch(view)">Search</button>
    </div>
<p><strong>Serach By Tags</strong></p>
<div>
    <button *ngFor="let tag of chooseTags"
            class="ml20 btn btn-primary"
            (click)="getBlogsByTags(tag)"
    >{{tag}}
</button>
</div>
<!-- 
<button
    class="ml20 btn btn-primary"
    name="interview"
    (click)="getBlogsByTags('interview')"
    >Interview
</button> -->
</div>
<h3 class="text-center mt20">{{title}}</h3>
<div *ngIf="noResult">
    <h2>Sorry !! No Result Found </h2>
</div>
<div >
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let blog of blogs" class="col-md-3">
                <app-protoview-blog [blog]="blog"></app-protoview-blog>
            <hr>
            </div>
        </div>
    </div>
    <!-- <app-blog-view [blog]="blog"></app-blog-view> -->
</div>