<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="heading text-center">Our Services</h1>
            <mat-card class="my-card mb25">
                <p class="my-content mt25 mb25 mr25 ml25">
                    Hiring and retention are vital pieces for any growing company. With an extensive background in technical, product management, product marketing, and biotechnology recruiting,
                    <strong>Silicon Valley Recruiting</strong> LLC specializes in searches for companies that are growing, but may not have the Human Resources and Recruiting bandwidth to source and manage crucial employee searches from start to finish.
                </p>
                <p class="my-content mt25 mb25 mr25 ml25">
                    Hiring and retention are vital pieces for any growing company. With an extensive background in technical, product management, product marketing, and biotechnology recruiting,
                    <strong>Silicon Valley Recruiting</strong> LLC specializes in searches for companies that are growing, but may not have the Human Resources and Recruiting bandwidth to source and manage crucial employee searches from start to finish.
                </p>
               <h2 class="ml25">Services Offered By us</h2>
               <ul class="my-content ">
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
                
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
                <li class="ml25">First Lines</li>
               </ul>

            </mat-card>
        </div>
    </div>
</div>