<div class="card mt20" *ngIf="owner">
    <div class="content m5">
        <img src="../../../assets/images/profile.jpg" class="img-responsive">
        <h2 class="m5"><strong>{{name}}</strong></h2>
        <h3 class="m5"> {{email}} </h3>
        <p>{{aboutMe}}</p>
        <div class="m5 ">
            <span class="mr20">
                <a class="fa-brands fa-linkedin social-media"
                    [href]="linkedin"
                    target="_blank"
                ></a>
            </span>  
            <span class="mr20 " >
                <a class="fa-brands fa-instagram social-media"
                    [href]="linkedin"
                    target="_blank"
                ></a>
            </span>  
            <span class="mr20 " >
                <a class="fa-brands fa-facebook social-media"
                    [href]="linkedin"
                    target="_blank"
                ></a>
            </span>  
    </div>
        
    </div>
  </div>