<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            home page
             <app-comments [currentUserId]="user" ></app-comments> 
        </div>
    </div>
</div>
 -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12"> -->
        <div class="banner d-flex justify-content-center align-items-center">
            <div class="content text-center" >
                <h1 class="font-weight-bold">Staffing Folks</h1>
                <p> 
                    Read and Write Articles of Your Choice.
                    Read Write and Explore !! 
                </p>
                
                <button 
                    mat-raised-button color="primary"
                    routerLink="user-dashboard/create-blog"
                    >Create A Blog
                </button>
            </div>        
        </div>
        <!-- </div>
    </div>
</div> -->