
        <p>
            <strong>Is is this Helpful ?
                
                <button
                    class="ml20"
                    mat-raised-button color="primary"
                    (click)="OnLike()"

                >Like {{likes}} </button>

                <!-- <button
                class="ml20"
                    mat-raised-button color="primary"
                >DisLike  {{dislikes}}</button> -->
                <!-- <a  
                    href="#" class="material-symbols-outlined feedback" data-toggle="tooltip" data-placement="top" title="Like">
                    thumb_up
                </a>

                <a href="#" class="material-symbols-outlined feedback " data-toggle="tooltip" data-placement="top" title="DisLike">
                    thumb_down
                </a> -->
            </strong>
        </p>